<<<<<<< HEAD
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #004581;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #ffffff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    text-align: center;
}

.login-key {
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
}

.login-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-login label {
    color: #000000;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}


.message {
    color: #004581;
    font-size: 14px;
    margin-top: 10px;
}

button {
    background-color: #ffffff;
    color: #004581;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
    color: #ffffff;
}

/* .input-wrapper {
    position: relative;
    width: 100%;
} */
.input-wrapper label {
    color: #000000;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}
input {
    width: 400px;
    height: 35px

}
.form-login {
    margin-bottom: 20px;
}
.input-wrapper {
    position: relative;
    margin-bottom: 20px; /* Khoảng cách giữa các phần tử */
}

.input-container {
    position: relative;
    width: 100%;
}

#mk,#un {
    width: 90%;
    padding: 10px 10px 10px 40px; /* Khoảng cách bên trái cho icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-container i {
    position: absolute;
    right: 10px; /* Đặt icon vào phía bên trái */
    top: 50%;
    transform: translateY(-50%); /* Căn giữa icon theo chiều dọc */
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.input-container i:hover {
    color: #333; /* Thay đổi màu khi hover */
}

=======
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #004581;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #ffffff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    text-align: center;
}

.login-key {
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
}

.login-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-login label {
    color: #000000;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}


.message {
    color: #004581;
    font-size: 14px;
    margin-top: 10px;
}

button {
    background-color: #ffffff;
    color: #004581;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
    color: #ffffff;
}

/* .input-wrapper {
    position: relative;
    width: 100%;
} */
.input-wrapper label {
    color: #000000;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}
input {
    width: 400px;
    height: 35px

}
.form-login {
    margin-bottom: 20px;
}
.input-wrapper {
    position: relative;
    margin-bottom: 20px; /* Khoảng cách giữa các phần tử */
}

.input-container {
    position: relative;
    width: 100%;
}

#mk,#un {
    width: 90%;
    padding: 10px 10px 10px 40px; /* Khoảng cách bên trái cho icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-container i {
    position: absolute;
    right: 10px; /* Đặt icon vào phía bên trái */
    top: 50%;
    transform: translateY(-50%); /* Căn giữa icon theo chiều dọc */
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.input-container i:hover {
    color: #333; /* Thay đổi màu khi hover */
}

>>>>>>> 71b910b4fcc089a3af1fdb9afc7e37facd6aba83
